<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="clinica-dash">
        <div class="topnav-link">
            <a href="/clinica_logout" class="btn-logout">Cerrar Sesión</a>
        </div>
        <div class="logo">
            <a href="/clinica_dash"><img src="/../static/img/onCall_logo2.png" class="dash-logo" alt="logo_pic"></a>
            <h2>Bienvenida Clinica {{clinica.nombre}}</h2>
        </div>
        <div class="dash-contenedor">
            <div class="cont-btn-principal">
                <a href="###" class="btn-especialistas">Solicitar Especialista</a>
            </div>
            <div class="cont-btn-secundarios">
                <a href="###" class="btn-secundarios">Lista de Especialistas</a>
                <a href="###" class="btn-secundarios">Editar Información</a>
                <a href="###" class="btn-secundarios">Ayuda</a>
            </div>
        </div>
    </div>
</body>
</html>