<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Lista de Especialistas - onCall</title>
</head>
<body>
    <div class="lista_bg">
        <div class="topnav-link">
            <a href="/clinica_logout" class="btn-logout">Cerrar Sesión</a>
        </div>
        <div class="lista-contenedor">
            <ul class="lista-especialistas">
            {% for especialista in especialistas %}
                <li><a href="###", especialista_id="especialista.id">{{especialista.nombre}} {{especialista.apellido}}</a>
                    <p>Email: {{especialista.email}}</p>
                    <p>Número de Contacto: {{especialista.num_contacto}}</p>
                    <p>Cédula Profesional: {{especialista.matricula}}</p>
                    <p>Rating: *****</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>