<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Lista de Especialistas - onCall</title>
</head>
<body>
    <div class="lista_bg">
        <div class="topnav-link">
            <a href="/clinica_logout" class="btn-logout">Cerrar Sesión</a>
        </div>
        <div class="lista-contenedor">
            <div class="lista-especialistas">
            {% for espacialista in especialistas %}
                <div class="especialista-box">
                    <input type="hidden" value="{{especialista.id}}" name="especialista_id">
                    <p>Nombre: {{especialista.nombre}} {{especialista.apellido}}</p>
                    <p>Rating: </p>
                </div>
            {% endfor %}
            </div>
            <div class="especialista-datos">
                <p>Nombre: </p>
                <p>Apellido: </p>
                <p>Email: </p>
                <p>Contacto Telefónico: </p>
                <p>Cedula Profesional: </p>
            </div>
        </div>
    </div>
</body>
</html>