<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Dashboard Especialista</title>
</head>
<body>
    <div class="dashboard-bg">
        <div class="topnav-link">
            <a href="/especialista_logout" class="btn-logout">Cerrar Sesión</a>
        </div>
        <div class="dashboard">
            <div class="especialista-dash-contenedor">
                <div class="logo">
                    <a href="/especialista_dash"><img src="/../static/img/onCall_logo2.png" class="dash-logo" alt="logo_pic"></a>
                </div>
                <div class="contenedor-btns">
                    <a href="###" class="btn-especialistas">Alertas</a>
                    <a href="###" class="btn-especialistas">Mensajes</a>
                    <a href="###" class="btn-especialistas">Historial</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>