<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Lista de Especialistas - onCall</title>
</head>
<body>
    <div class="lista-bg">
        <div class="topnav-link">
            <a href="/clinica_dash"><img src="/../static/img/onCall_logo_lg.png" alt="logo"></a>
            <a href="/clinica_logout" class="btn-logout">Cerrar Sesión</a>
        </div>
        <div class="lista-contenedor">
            <h1 class="list-title">Lista de Especialistas</h1>
            <ul class="lista-especialistas">
            {% for especialista in especialistas %}
                <li>
                    <a href="###" class="contacto" especialista_id="especialista.id">{{especialista.genero}} {{especialista.nombre}} {{especialista.apellido}}</a>
                    <p>Email: {{especialista.email}}</p>
                    <p>Número de Contacto: {{especialista.num_contacto}}</p>
                    <p>Cédula Profesional: {{especialista.cedula}}</p>
                    <p>Rating: *****</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>