<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login and Registration</title>
</head>
<body>
    <div class="main">
        <div class="logo-row">
            <h1>onCall</h1>
        </div>
        <div class="login-row">
            <h2>Acceder Cuenta:</h2>
            <a href="###" class="btn-clinica">Clinica</a>
            <a href="###" class="btn-especialista">Especialista</a>
        </div>
        <div class="register-row">
            <h3>Aún no estas registrado?</h3>
            <button onclick="openPopup()">Registrate</button>
        </div>
        <div class="overlay" id="overlay" onclick="closePopup()"></div>
        <div class="popup" id="popup">
            <h2>Registro de Especialista</h2>
            <form>
                <label for="nombre">Nombre(s):</label>
                <input type="text" id="nombre_especialista" name="nombre" required>
                
                <label for="apellido">Apellidos:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="num_contacto">Contacto:</label>
                <input type="text" id="num_contacto" name="num_contacto" required>

                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula" required>
                
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>

                <label for="conf_contraseña">Confirmar Contraseña:</label>
                <input type="password" id="conf_contraseña" name="conf_contraseña" required>
                
                <button type="submit">Registrate</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>