<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Login and Registration</title>
</head>
<body>
    <div class="main">
        <div class="logo-row">
            <img src="/../static/img/onCall_logo2.png" alt="logo_img" class="logo-header">
        </div>
        <div class="validation-text">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="signin-container">
            <div class="login-row">
                <h1>Iniciar Sesión:</h1>
                <form action="/login" class="form" method="POST">
                    <div class="index-row">
                        <label for="email">Email:</label>
                        <input type="email" class="" name="email" required>
                    </div>
                    <div class="index-row">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" class="" name="contraseña" required>
                    </div>
                    <div class="btn-container">
                        <input class="btn-signin" type="submit" value="Iniciar Sesión">
                    </div>
                </form>
            </div>
        </div>
        <div class="register-row">
            <h3>Aún no estas registrado?</h3>
            <p>Selecciona el tipo de cuenta deseado:</p>
            <div class="btn-container">
                <div class="reg-clinica">
                    <button onclick="openPopup2()" class="btn-register">Clínica</button>
                </div>
                <div class="reg-especialista">
                    <button onclick="openPopup()" class="btn-register">Especialista</button>
                </div>
            </div>
        </div>
<!-- Forma de Registro Popup para Especialista -->
        <div class="overlay" id="overlay" onclick="closePopup()"></div>
        <div class="popup" id="popup">
            <h2>Registro de Especialista</h2>
            <form action="/registrar_especialista"  method="POST">
                <label for="nombre">Nombre(s):</label>
                <input type="text" id="nombre_especialista" name="nombre" required>
                
                <label for="apellido">Apellidos:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="genero">Seleccione uno:</label>
                <select class="genero" name="genero">
                    <option value="Dr">Dr.</option>
                    <option value="Dra">Dra.</option>
                </select>

                <label for="email">Email:</label>
                <input type="tel" id="email" name="email" required>

                <label for="num_contacto">Número de Contacto:</label>
                <input type="tel" id="num_contacto" name="num_contacto" required>

                <label for="cedula">Cédula Profesional:</label>
                <input type="text" id="cedula" name="cedula" required>
                
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>

                <label for="conf_contraseña">Confirmar Contraseña:</label>
                <input type="password" id="conf_contraseña" name="conf_contraseña" required>
                
                <button type="submit">Registrar Especialista</button>
            </form>
        </div>
<!-- Forma de Registro Popup para Clinica -->
        <div class="overlay" id="overlay2" onclick="closePopup2()"></div>
        <div class="popup" id="popup2">
            <h2>Registro de Clinica</h2>
            <form action="/registrar_clinica" method="POST">
                <label for="nombre">Nombre de la Clinica:</label>
                <input type="text" id="nombre_clinica" name="nombre" required>
                
                <label for="dueño">Nombre de Dueño:</label>
                <input type="text" id="dueño" name="dueño" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>

                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" required>
                
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>

                <label for="conf_contraseña">Confirmar Contraseña:</label>
                <input type="password" id="conf_contraseña" name="conf_contraseña" required>
                
                <button type="submit">Registrar Clinica</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>