<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login and Registration</title>
</head>
<body>
    <div class="main">
        <div class="logo-row">
            <h1>onCall</h1>
        </div>
        <div class="login-row">
            <h2>Acceder Cuenta:</h2>
            <a href="###" class="btn-clinica">Clinica</a>
            <a href="###" class="btn-especialista">Especialista</a>
        </div>
        <div class="register-row">
            <h3>Aún no estas registrado?</h3>
            <p>Selecciona el tipo de cuenta deseado:</p>
            <div class="reg-especialista">
                <button onclick="openPopup()">Especialista</button>
            </div>
            <div class="reg-clinica">
                <button onclick="openPopup2()">Clinica</button>
            </div>
        </div>
<!-- Forma de Registro Popup para Especialista -->
        <div class="overlay" id="overlay" onclick="closePopup()"></div>
        <div class="popup" id="popup">
            <h2>Registro de Especialista</h2>
            <form action="/registrar_especialista" method="POST">
                <label for="nombre">Nombre(s):</label>
                <input type="text" id="nombre_especialista" name="nombre" required>
                
                <label for="apellido">Apellidos:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="num_contacto">Contacto:</label>
                <input type="text" id="num_contacto" name="num_contacto" required>

                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula" required>
                
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>

                <label for="conf_contraseña">Confirmar Contraseña:</label>
                <input type="password" id="conf_contraseña" name="conf_contraseña" required>
                
                <button type="submit">Registrar Especialista</button>
            </form>
        </div>
<!-- Forma de Registro Popup para Clinica -->
        <div class="overlay" id="overlay2" onclick="closePopup2()"></div>
        <div class="popup" id="popup2">
            <h2>Registro de Clinica</h2>
            <form action="/registrar_clinica" method="POST">
                <label for="nombre">Nombre de la Clinica:</label>
                <input type="text" id="nombre_clinica" name="nombre" required>
                
                <label for="dueño">Nombre de Dueño:</label>
                <input type="text" id="dueño" name="dueño" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>

                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" required>
                
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>

                <label for="conf_contraseña">Confirmar Contraseña:</label>
                <input type="password" id="conf_contraseña" name="conf_contraseña" required>
                
                <button type="submit">Registrar Clinica</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>