* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Fira Sans', sans-serif;
}


/* LOGIN & REGISTRATION ................................. */
.main {
    background-image: url('/../static/img/login&reg_bg.png');
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo-header {
    width: 350px;
    margin: 40px;
}

.logo-row {
    display: flex;
    justify-content: center;
}

.welcome-msg {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.signin-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.register-row {
    color: white;
    text-shadow: 
    -1px -1px 0 #59215e,
    1px -1px 0 #59215e,
    -1px 1px 0 #59215e,
    1px 1px 0 #59215e; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.login-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-row h1 {
    color: white;
    text-shadow: 2px 2px #94439c;
}

.index-row input {
    text-align: center;
    border: 2px solid rgba(155, 153, 153, 0.676);
    border-radius: 5px;
    padding:10px;
    font-size: 18px;
    box-shadow: 4px 4px rgba(214, 214, 214, 0.489);
    box-sizing: border-box;
    margin-bottom:10px;
    width: 100%;
}

.form {
    color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}


/* POP-UP REGISTER FORMS ............................... */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(233, 232, 232);
    z-index: 2;
    max-width: 550px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

.popup h2 {
    text-align: center; /* Center the heading */
    color: #333; /* Set heading color */
}

.popup form {
    display:flex;
    flex-direction: column;
    width: 500px;
    gap:10px;
}

.popup input{
    border: 2px solid rgba(155, 153, 153, 0.676);
    border-radius: 5px;
    padding:7px;
    font-size: 20px;
    box-shadow: 4px 4px rgba(214, 214, 214, 0.489);
    box-sizing: border-box;
    margin-bottom:10px;
}

.popup button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}

.genero {
    border: 2px solid rgba(155, 153, 153, 0.676);
    border-radius: 5px;
    padding:7px;
    font-size: 20px;
    box-shadow: 4px 4px rgba(214, 214, 214, 0.489);
    box-sizing: border-box;
    margin-bottom:20;
}
/* CLINIC DASHBOARD ..................................... */
.dashboard-bg {
    background-image: url('/../static/img/clinica_dash_bg.png');
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.dashboard {
    display: flex;
    width: 100%;
}

.dash-logo {
    width: 500px;
    margin: 0px 100px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo h2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 40px;
    color: rgba(12, 0, 145, 0.679);
    margin: 0px 100px 40px 0px;
}

.topnav-link {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.clinica-dash-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.cont-btn-principal {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 80px;
}

.cont-btn-secundarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 30px;
}

/* DASHBOARD ESPECIALISTA ................................. */
.especialista-dash-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
}

.contenedor-btns {
    display: flex;
    justify-content: space-around;
}


/* ESPECIALISTAS LIST */
.lista-bg {
    background-image: url('/../static/img/lista_bg.png');
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
}

.lista-contenedor {
    gap:20px;
}

.lista-especialistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    width: 600px;
    height: max-content;
    padding: 20px;
    border: 3px solid rgba(218, 124, 255, 0.13);
    border-radius: 15px;
    /* box-shadow: 10px 10px 5px rgba(208, 190, 176, 0.617); */
    margin: 0px auto;
    background: linear-gradient(90deg, rgb(250, 241, 255), rgb(209, 250, 255));;
}
.lista-especialistas li a {
    padding: 3px 0px;
    margin-bottom: 2px;
    border-bottom: 1.5px solid rgb(112, 112, 112);
}
.lista-especialistas li {
    display: flex;
    flex-direction: column;
    color:#333;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    gap: 5px;
    box-shadow: 3px 3px rgb(189, 174, 209);
    transition: background 1s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.lista-especialistas li:hover {
    border: 3px solid rgba(187, 127, 217, 0.672);
    background: linear-gradient(90deg, rgb(238, 213, 251), rgb(194, 249, 255));
    box-shadow: 3px 3px rgb(153, 125, 169);
    transform: scale(1.1);
}

.lista-contenedor h1 {
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to right, #f039a7, #2994ff);
    -webkit-background-clip: text; /* For Safari/Chrome */
    color: transparent;
    margin-bottom: 25px;
}

.contacto {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

/* BUTTONS................................................. */

.btn-principal {
    display: flex;
    align-items: center;
    text-align: center;
    color: #8e3fad;
    background-color:transparent;
    border: 2px solid #8e3fad;
    text-decoration: none;
    height: 50px;
    font-size: 30px;
    padding: 30px;
    border-radius: 50px;
}

.btn-principal:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(203, 157, 226), rgb(112, 206, 217));
    border: 4px solid white;
}

.btn-secundarios {
    display: flex;
    justify-content: center;
    color: rgb(26, 110, 149);
    background-color: transparent;
    border: 2px solid rgb(26, 110, 149);
    text-decoration: none;
    width: 250px;
    height: 25px;
    font-size: 25px;
    padding: 30px;
    border-radius: 50px;
}

.btn-secundarios:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(203, 157, 226), rgb(112, 206, 217));
    border: 2px solid white;
}

.btn-logout{
    height: 20px;
    color: #8e3fad;
    background-color: transparent;
    border: 2px solid #8e3fad;
    text-decoration: none;
    padding: 8px;
    border-radius: 50px;
    background: transparent;
}

.btn-logout:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(105, 54, 130, 0.687), rgba(36, 106, 115, 0.688));
    border: 2px solid white;
}

.btn-register {
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: #8e3fad;
    background-color:transparent;
    border: 1px solid #8e3fad;
    margin: 10px;
    width: 150px;
}

.btn-register:hover, .btn-signin:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(158, 72, 201, 0.687), rgba(49, 165, 180, 0.688));
    border: 2px solid white;
}


.btn-signin {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: rgb(26, 110, 149);
    border: none;
    background-color: transparent;
    border: 1px solid rgb(26, 110, 149);
    padding: 10px;
    border-radius: 50px;
    width: 150px;
}

.btn-especialistas {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(26, 110, 149);
    border: none;
    background-color: rgba(26, 110, 149, 0.157);
    border: 2px solid rgb(26, 110, 149);
    padding: 15px;
    border-radius: 50px;
    width: 250px;
}

.btn-especialistas:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(169, 135, 186), rgb(80, 167, 177));
    border: 2px solid white;
}

.topnav-link img {
    width: 40px;
}

.topnav-link img:hover {
    width: 45px;
}
/* VALIDATIONS ..................................... */

.validation-text {
    color: rgb(215, 1, 1);
    text-align: center;
}